.product-page {
  display: flex;
  justify-content: center;
  margin: 100px 0 30px;
  @media (max-width: 768px) {
    margin: 50px 0 30px;
    flex-direction: column;
    align-items: center;
  }
  img {
    height: 500px;
    width: 500px;
    object-fit: contain;
    @media (max-width: 768px) {
      height: 300px;
      width: 300px;
      margin-bottom: 20px;
    }
    @media (max-width: 576px) {
      height: 200px;
      width: 200px;
    }
  }
  &__back {
    margin-top: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    justify-content: center;
    width: 110px;
    border-radius: 30px;
    cursor: pointer;
    min-width: 100px;
    padding: 10px 0px;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 16px;
    &:hover {
      background-color: white;
      transition: all 0.15s ease-in-out;
      color: black;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 60%;
    margin-left: 20px;
    @media (max-width: 768px) {
      width: 100%;
    }
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
      margin-top: 15px;
      background: #9d84cc;
      color: #f5ebdc;
      border-radius: 20px;
      padding: 6px 20px;
    }
  }
}
